* {
  box-sizing: border-box;
}
.productSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filterSection {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}
.filterButton {
  background-color: #060807;
  border-radius: 28px;
  border: 1px solid #000000;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  width: 6em;
  padding: 0.5em;
}
.productCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border: 1px solid #f2e5d7;
  padding: 10px;
  border-radius: 5px;
}
.productHeader {
  margin-bottom: 10px;
}
.productTitle {
  font-size: 18px;
  font-weight: 100;
}
.productPrice {
  font-size: 12px;
  font-weight: 100;
}
.productImg {
  height: 25vh;
  width: 33vw;
  background-size: cover;
  background-position: center;
}
.productBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopProductButton {
  padding: 0.5em;
  width: 15vw;
  margin-top: 0.5em;
  background-color: #060807;
  border-radius: 28px;
  border: 1px solid #000000;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  width: 6em;
  padding: 0.5em;
}
@media screen and (min-width: 1024px) {
  .productCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .productCard {
    padding: 2em 0;
  }
  .productImg {
    height: 50vh;
    width: 25vw;
  }
  .filterButton {
    font-size: 1.15rem;
    width: 10em;
  }
  .productTitle {
    font-size: 1.5rem;
  }
  .productPrice,
  .shopProductButton {
    font-size: 1.15rem;
  }
}
