* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ClashDisplay";
  src: url(Fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf);
}

@font-face {
  font-family: "Stardom";
  src: url(Fonts/Stardom_Complete/Fonts/WEB/fonts/Stardom-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(Fonts/Montserrat_Complete/Fonts/WEB/fonts/Montserrat-Medium.ttf);
}

:root {
  /* COLOR VARIABLES */
  --primary-color: ;
  --secondary-color: ;
  --light: #f8f7f9;
  --dark: #091540;

  /* FONT */
  --primary-font: Stardom;
  --secondary-font: Montserrat;
  --logo-font: ClashDisplay;
}

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  padding: 1rem;
  background-color: #f2e5d7;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-links li a {
  display: inline-block;
  color: var(--dark);
  font-family: var(--secondary-font);
  text-decoration: none;
  padding: 20px;
  font-size: 1.2rem;
}

.logo a {
  display: inline-block;
  font-size: 3rem;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--dark);
  font-family: var(--logo-font);
  letter-spacing: 3px;
}

/* COVER PAGE IMAGE  */

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  font-size: 3.5rem;
  font-family: var(--primary-font);
  margin: 100px;
}

/* MEDIA QUERY NAVBAR */

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: var(--dark);
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .nav-links {
    position: fixed;
    background-color: #f2e5d7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  .landing {
    flex-direction: column;
  }
  .landing h1 {
    font-size: 2.5rem;
  }
}

/* VIDEO */
.mobileLandingVideo {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.landingHeader {
  position: fixed;
  top: calc(100% / 2);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1%;
  text-align: center;
}
.landingTittle {
  font-size: 5em;
}
.landingButton {
  width: 120px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1e2;
  color: black;
  cursor: pointer;
  margin-bottom: 1vh;
}
.landingButtonLink {
  color: black;
}
.landingButton:hover {
  box-shadow: 2px 3px 4px 0px #753f5f;
}
/*MEDIA QUERIES FOR THE LANDING PAGE*/
@media (max-width: 767px) {
  .mobileLandingVideo {
    display: none;
  }
  .landingPageBody {
    background: url(./media/landingPoster.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 100vh;
  }
  .landingTittle {
    font-size: 4em;
  }
}

/* FOOTER */

.footer {
  margin-top: auto;
  width: 100%;
  padding: 3em;
  background: lightgray;
  color: #efefef;
  display: flex;
  justify-content: space-around;
}

.footer li {
  list-style-type: none;
  text-align: start;
}
