* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLOR VARIABLES */
  --primary-color: ;
  --secondary-color: ;
  --light: ;
  --dark: #001425;

  /* SPACING */
  --spacing: ;

  /* FONT */
}
