* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLOR VARIABLES */
  --primary-color: ;
  --secondary-color: ;
  --light: ;
  --dark: #001425;

  /* SPACING */
  --spacing: ;

  /* FONT */
}
/* VIDEO */
.mobileLandingVideo {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.landingHeader {
  position: fixed;
  top: calc(100% / 2);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1%;
  text-align: center;
}
.landingTittle {
  font-size: 5em;
}
.landingButton {
  width: 120px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #f1f1f1e2;
  color: black;
  cursor: pointer;
  margin-bottom: 1vh;
}
.landingButtonLink {
  color: black;
}
.landingButton:hover {
  box-shadow: 2px 3px 4px 0px #753f5f;
}
/*MEDIA QUERIES FOR THE LANDING PAGE*/
@media (max-width: 767px) {
  .mobileLandingVideo {
    display: none;
  }
  .landingPageBody {
    background: url(./media/landingPoster.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 100vh;
  }
  .landingTittle {
    font-size: 4em;
  }
}

/* FOOTER */

.footer {
  margin-top: auto;
  width: 100%;
  padding: 3em;
  background: lightgray;
  color: #efefef;
  display: flex;
  justify-content: space-around;
}

.footer li {
  list-style-type: none;
  text-align: start;
}
